
/* color theme from coolors.io
--eerie-black: #222222ff;
--azure-web: #e6fafcff;
--ultra-violet: #4b4e6dff;
--rose-quartz: #b796acff;
--mindaro: #dcf763ff;
*/

body { 
    padding: 18px; display: flex; align-items: center; justify-content: center; flex-direction: column;
    font-family: "Roboto", sans-serif; font-optical-sizing: auto; font-weight: 600; font-style: normal; font-variation-settings: "wdth" 75;
    font-size: 16px;
    background-color: #222222ff;
    color: #E6FAFC;
}

.title { font-size: 24px; font-weight: 600; }

.slider-container { margin-right: 100px; }

/* TODO: style dropdowns */
